@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.inria-serif-light {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
}
.hero-bg { background-image: url('./assets/fireWithin.jpg');
  background-size: cover;
  background-position: center;}

  .reader-html img { max-width: 100%; height: auto; }
.reader-html a { text-decoration: underline; }
